name: Create and publish CI/CD Docker image

on:
  push:
    tags:
      - '[6-9].[0-9].[0-9]-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9]'

concurrency:
  group: docker-publish-${{ github.ref }}
  cancel-in-progress: false

jobs:
  parse-docker-build-env:
    name: "Parse Docker Build Environment"
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.detect-push-event.outputs.image_tag }}
    steps:
      - name: Extract tag from ref
        id: detect-push-event
        run: |
          if [[ "${GITHUB_REF}" =~ ^refs/tags/(.+)$ ]]; then
            TAG="${BASH_REMATCH[1]}"
            echo "Detected tag push: ${TAG}"
            echo "image_tag=${TAG}" >> "${GITHUB_OUTPUT}"
          else
            echo "Unsupported ref: ${GITHUB_REF}"
            exit 1
          fi

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: parse-docker-build-env
    steps:
      - name: "Build and sign Docker images"
        uses: exo-actions/buildDockerImage-action@v1
        with:
          dockerImage: "exoplatform/exo-enterprise"
          dockerImageTag: ${{ needs.parse-docker-build-env.outputs.image_tag }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
