name: Create and publish a Docker image

on:
  push:
    tags:
      - '[6-9].[0-9].[0-9](-(M|RC|CP)[0-9][0-9])?_[0-9]'
    branches: [ alpine ]
env:
  BRANCH_BUILD_TAGS: "alpine"
jobs:
  parse-docker-build-env:
    name: 'Parse Docker Build Environment'
    runs-on: ubuntu-latest
    outputs:
      buildTags: ${{ steps.detect-push-event.outputs.buildTags }}
    steps:
      - name: Check if push is a tag or branch
        id: detect-push-event
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "This is a tag push (${GITHUB_REF#refs/tags/})"
            echo "Building docker tag: ${GITHUB_REF#refs/tags/}"
            echo "buildTags=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            echo "This is a branch push (${GITHUB_REF#refs/heads/})"
            echo "Building docker tags: ${{ env.BRANCH_BUILD_TAGS }}"
            echo "buildTags=${{ env.BRANCH_BUILD_TAGS }}" >> $GITHUB_OUTPUT
          else
            echo "Unknown push type"
            exit 1
          fi
  build-dockerhub-image:
    name: "Build Docker Images to DockerHub Registry"
    runs-on: ubuntu-latest

    steps:
    - uses: exo-actions/buildDockerImage-action@v1
      with:
        dockerImage: "exoplatform/exo-enterprise"
        dockerImageTag: ${{ needs.parse-docker-build-env.outputs.buildTags }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
